.origin-name {
  color: brown;
  font-family: Roboto;
  font-size: 18px;
}

.name {
  color: rgb(132, 22, 234);
}

.char-name {
  color: brown;
  font-family: Roboto;
  font-size: 18px;
}

.character {
  color: rgb(132, 22, 234);
}
